<h1>{{title}}</h1>

{{!--
Navegaci贸n opci贸n 1
--}}
{{!-- <nav aria-label="Paginacion">
    <ul class="pagination">
        {{#if data.hasPrevPage}}<li class="page-item"><a class="page-link" href="/users?page={{data.prevPage}}">Ant</a></li>{{/if}}
        {{#each data.pages}}
            <li class="page-item"><a class="page-link" href="/users?page={{this}}">{{this}}</a></li>
        {{/each}}
        {{#if data.hasNextPage}}<li class="page-item"><a class="page-link" href="/users?page={{data.nextPage}}">Sig</a></li>{{/if}}
    </ul>
</nav> --}}

{{!--
Navegaci贸n opci贸n 2
--}}
<nav aria-label="Paginacion">
    <ul class="pagination">
        {{#if data.hasPrevPage}}<li class="page-item"><a class="page-link" href="/users?page={{data.prevPage}}">Ant</a></li>{{/if}}
        <li class="page-item"><a class="page-link" href="/users?page=1">Pg 1</a></li>
        <li class="page-item"><a class="page-link" href="#">Pg {{data.page}} de {{data.totalPages}}</a></li>
        {{#if data.hasNextPage}}<li class="page-item"><a class="page-link" href="/users?page={{data.nextPage}}">Sig</a></li>{{/if}}
    </ul>
</nav>

<ul class="list-group">
    {{#each data.docs}}
        <li class="list-group-item">{{this.last_name}}</li>
    {{/each}}
</ul>